.container{
    width: 720px;
    margin: auto;
}

/* h1{
    float: right;
} */

.header{
    width: 100%;
    height: 150px;
    background-color: burlywood;
    border-bottom: 2px solid black;
    /* border: 2px solid black; */
}

.menu{
    text-align: center;
    background-color: cadetblue;
    /* height: 30px; */
}

.content{
    width: 100%;
    height: 400px;
    background-color: cornflowerblue;
}

.footer{
    width: 100%;
    height: 25px;
    background-color: cadetblue;
    color: aliceblue;
    text-align: center;
}